project:
  type: website

metadata-files:
  - _sidebar.yml

website:
  title: ""
  image: images/logo.png
  repo-url: https://github.com/devitocodes/devitocodes.github.io
  repo-actions: [issue]
  page-navigation: true
  reader-mode: true
  back-to-top-navigation: true
  google-analytics: "UA-66708188-1"
  search:
    type: overlay

  twitter-card: 
    site: "@DevitoCodes"

  page-footer:
    center:
      - text: "2016 Copyright (c) Imperial College London and others"
    right:
      - icon: twitter
        href: https://twitter.com/DevitoCodes
        aria-label: Twitter
      - icon: github
        href: https://github.com/devitocodes/devito
        aria-label: GitHub
      - icon: envelope-at-fill
        href: mailto:gerard@devitocodes.com
      - icon: globe
        href: https://www.devitocodes.com/

  navbar:
    logo: images/logo.png
    collapse-below: lg
    background: light

    tools:
      - icon: github
        menu:
          - text: DevitoCodes
            href: https://github.com/devitocodes/
          - text: Devito
            href: https://github.com/devitocodes/devito
      - icon: twitter
        href: https://twitter.com/DevitoCodes
      - icon: linkedin
        href: https://www.linkedin.com/company/devitocodes
      - icon: envelope-at-fill
        href: mailto:gerard@devitocodes.com
      - icon: slack
        href: https://join.slack.com/t/devitocodes/shared_invite/zt-gtd2yxj9-Y31YKk_7lr9AwfXeL2iMFg
      - icon: globe
        href: https://www.devitocodes.com/
  
    left:
      - file: index.qmd
        text: "Home"
      - href: download.qmd
        text: Download
      - href: tutorials.qmd
        text: Tutorials
      - text: "API Reference"
        href: api/
      - text: "FAQ"
        href: FAQ.qmd
      - file: publications.qmd
        text: "Publications"
      - file: citing.qmd
        text: "Cite us"
      - file: contact.qmd
        text: "Contact us"
  
  sidebar:
    - id: tuto
      style: "floating"
      title: "Tutorials"
      collapse-level: 1
      contents:
          - section: Tutorials
            href: tutorials.qmd
            contents:
              - section: "User API"
                contents: "examples/userapi/*.ipynb"
              - section: "Compiler"
                contents: "examples/compiler/*.ipynb"
              - section: "Performance tips"
                contents: "examples/performance/*.ipynb"
              - section: "Seismic modeling and inversion"
                contents:
                  - auto: "examples/seismic/tutorials/*.ipynb"
                  - auto: "examples/seismic/self_adjoint/*.ipynb"
                  - "examples/seismic/acoustic/accuracy.ipynb"
              - section: "CFD"
                contents: "examples/cfd/*.ipynb"
              - section: "Finance"
                contents: "examples/finance/*.ipynb"

format:
  html:
    theme:
      light: cosmo
      dark: cyborg
    css: assets/css/main.scss
    toc: true
    link-external-newwindow: True
    code-copy: true
    code-fold: false
    execute: 
      enabled: false
  ipynb: default

quartodoc:
  style: pkgdown
  dir: api
  package: devito
  sidebar: _sidebar.yml

  options:
    signature_name: short

  renderer:
    style: markdown
    display_name: name

  dynamic: true
  
  sections:
  - title: "Types"
    desc: ""
    contents:
      - Dimension
      - ConditionalDimension
      - SubDimension
      - Grid
      - SubDomain
      - CustomTopology
      - Constant
      - Function
      - TimeFunction
      - VectorFunction
      - VectorTimeFunction
      - TensorFunction
      - TensorTimeFunction
      - SparseFunction
      - SparseTimeFunction
      - PrecomputedSparseFunction
      - PrecomputedSparseTimeFunction

  - title: "Operator"
    desc: ""
    contents:
      - Operator
      - Eq

  - title: "Finite differences"
    desc: ""
    contents:
      - div
      - grad
      - curl
      - diag
      - laplace
      - Derivative
      - Coefficient
      - Substitutions

  - title: "Utilities"
    desc: ""
    contents:
      - smooth
      - initialize_function
      - mmin
      - mmax
      - sum
      - norm
