name: Publish Website

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

on:
  workflow_dispatch:
  push:
    branches: main
  schedule:
    - cron: '30 5 * * *'

jobs:
  quarto:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
  
      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Generate tutorial pages
        run: |
            git clone https://github.com/devitocodes/devito.git
            cp -r devito/examples examples
            rm -rf devito
            pip install git+https://github.com/machow/quartodoc.git
            quartodoc build

      - name: Render Website
        run: quarto render

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: '_site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
